{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="row row-cols-1 row-cols-md-3 g-4" id="post-container">
  {% for post_item in post_info %}
  <div class="col" id="post-item-{{post_item.post.id}}">
    <div class="card h-100" style="width:auto;">
      {% if post_item.post.photo.url != null and post_item.post.photo.url != ''%}
      <img src="{{post_item.post.photo.url}}" alt="대체 텍스트" class="card-img-top">
      {% else %}
      <img src="{% static '/image/no_img.png'%}" alt="대체 이미지 뜨기" class="card-img-top">
      {% endif %}
      <div class="card-body">
        {% if request.user in post_item.post.like_users.all %}
        <div style="display: flex; align-items: center; justify-content:center;">
          <div class="post-like">좋아요 {{post_item.post.like_users.all.count}}</div>
          <button onclick="onClickLike({{post_item.post.pk}}, '{{user|safe}}')" class="heart"><i
              class="ri-heart-3-fill"></i></button>
        </div>
        {% else %}
        <div style="display: flex; align-items: center; justify-content:center;">
          <div class="post-like">좋아요 {{post_item.post.like_users.all.count}}</div>
          <button onclick="onClickLike({{post_item.post.pk}}, '{{user|safe}}')" class="heart"><i class="ri-heart-3-line"></i></button>
        </div>
        {% endif %}
        <p class="card-text">{{post_item.post.content}}</p>
        <p class="card-text"><span style="color:#716094;">{{post_item.post.writer}}</span>님이 <span style="color:#716094;">{{post_item.post.created_at}}</span>에 작성</p>
        {% if request.user == post_item.post.writer %}
        <div class="card-text delete_update">본인 게시물 삭제/수정:
        <form method="POST" action="{% url 'pirostagram:delete' post_item.post.pk %}">
          {%csrf_token%}
          <button class="btn btn-outline-dark">삭제</button>
        </form>
        <form method="GET" action="{% url 'pirostagram:update' post_item.post.pk%}">
          {%csrf_token%}
          <button class="btn btn-outline-dark">수정</button>
        </form>
        </div>
        {% endif %}
        <hr>
        <p class="card-text" style="color:#716094;">이 게시물에 달린 댓글</p>
        {% for comment in post_item.comments %}
        {% if comment.writer == request.user %}
        <p class="card-text" id="comment-{{comment.id}}">{{comment.writer}}: {{comment.content}}
          <button onclick="onClickDelete({{comment.id}})" class="btn btn-outline-dark">삭제</button>
        </p>
        {% else %}
        <p class="card-text" id="comment-{{comment.id}}">{{comment.writer}}: {{comment.content}}</p>
        {% endif %}
        {% endfor %}
        <div class="post-comment-write">
          <form class="post-comment-write-form">
            <label for="comment-content">댓글 작성:</label>
            <input type="text" id="comment-content-{{post_item.post.id}}"></input>
            <button type="button"
              onclick="onClickComment({{post_item.post.id}}, document.getElementById('comment-content-{{post_item.post.id}}').value)"
              class="btn btn-outline-dark">완료</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="intro">
  <img src="{% static 'image/background.jpg' %}"></img>
  <p>PiroStagram은 본인의 일상을 적고, 공유하는 공간입니다.</p>
  <p>로그인 후 사용해주세요</p>
</div>
{% endif %}
{% endblock %}