{% extends 'base.html' %}
{% load static %}

{%block head%}
  <title>My SW Idea Manage</title>
{%endblock%}

{%block content%}
  <h2 style="text-align:center; color:#00ff80;">Idea List</h1>
  <h5 style="text-align:center;">나의 아이디어를 잊지 말고 기록해보세요</h5>
  <form method="GET" action="{% url 'idea:main' %}" id="order">
    <select name="sort" id="sort">
      <option value="" id="">------</option>
      <option value="recently" id="recently">최신순</option>
      <option value="bookmark" id="bookmark">찜하기순</option>
      <option value="order" id="order">등록순</option>
      <option value="name" id="name">이름순</option>
      <option value="interest" id="interest">관심도순</option>
    </select>
    <button class="btn btn-primary" type="submit" value="">정렬</button>
  </form>
  <div class="row row-cols-1 row-cols-md-4 g-4" style="margin:30px;">
    {% for idea in page_obj %}
      <div class="col">
        <div class="card h-100" style="width: 300px;">
          {% if idea.image.url != null and idea.image.url != ''%}
            <img src="{{idea.image.url}}" class="card-img-top" style="height: 300px" alt="대체 텍스트">
          {% else %}
            <img src="{% static 'idea/image/no_img.png'%}" class="card-img-top" style="height: 300px" alt="대체 이미지 뜨기">
          {% endif %}
            <div class="card-body">
              <a href="{% url 'idea:detail' idea.pk %}"><h3 class="card-title">{{idea.title}}</h3></a>
              <button type="button" class="bookmark-btn" value="{{idea.id}}" id="bookmark-btn-{{idea.id}}">
              {% if idea.ideastar %}
                <i class="ri-star-fill" style="color: yellow; position: absolute; top: 10px; right: 10px; font-size:2rem;"></i>
              {% else %}
                <i class="ri-star-line" style="color: yellow; position: absolute; top: 10px; right: 10px; font-size:2rem; "></i>
              {% endif %}
              </button>
              <p class="interest">아이디어 관심도:
                <button type="button" class="interest-btn" onclick="changeInterest('{{ idea.id }}', 1)">+</button>
                <span id="interest-{{ idea.id }}">{{ idea.interest }}</span>
                <button type="button" class="interest-btn" onclick="changeInterest('{{ idea.id }}', -1)">-</button>
              </p>
              <p class="created_at">작성일: {{idea.created_at|date:'Y년 n월 j일 G:i:s'}}
              </p>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <ul style="display:flex; align-items:center; justify-content:center; list-style:none; gap:0.8rem; font-size:1.5rem;">
    {% for page in paginator.page_range %}
      {% if page == page_obj.number %}
        <li style="margin:3px;"><a style="color:#00ff80;" href="?page={{page}}&sort={{sort}}">{{page}}</a></li>
      {% else %}
        <li style="margin:3px;"><a href="?page={{page}}&sort={{sort}}">{{page}}</a></li>  
      {% endif %}      
    {% endfor %}
  </ul>
{%endblock%}
