/* Global Styles */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none !important;
    color: #333 !important;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.add-new_review {
    font-size: 1.3rem;
    font-weight: bold;
}


/* Movie Grid Styles */
#movie-reviews-container {
    margin-top: 2rem;
}

#movie-reviews-container .col {
    background-color: #E2E2E2;
    width: 30%;
    height: 300px;
    margin: 0.3rem;
    padding: 2rem;
}

#movie-reviews-container .col .movie-title {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

#movie-reviews-container .col .movie-release_year,
#movie-reviews-container .col .movie-genre,
#movie-reviews-container .col .movie-score {
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 0;
}

#review-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

#review-detail .review-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#review-detail .review-header h2 {
    font-size: 2rem;
    font-weight: bold;
}

#review-detail .review-header div {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.3rem;
    color: #E2E2E2;
}

#review-detail .review-header input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0;
    height: 1.3rem;
    cursor: pointer;
}

#review-detail .review-top_box,
#review-detail .review-bottom_box {
    background-color: #E2E2E2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    font-size: 1rem;
}

#review-detail .review-top_box p,
#review-detail .review-buttom_box p {
    margin: 0;
}

#review-create {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #E2E2E2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#review-create h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
}

.review-create-item {
    margin-bottom: 15px;
}

.review-create-item input,
.review-create-item textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 0.6rem;
    vertical-align: baseline;
}

.review-create-item textarea {
    resize: vertical;
}

.review-create-item input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.review-create-item input[type="submit"]:hover {
    background-color: #45a049;
}