#post-container {
    margin: 80px;
    height: auto;
}

#post-container img {
    height: 300px;
    object-fit: cover;
}

.post-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(169, 169, 169, 0.3);
}
.post-create-title {
    font-size: 30px;
}

.post-create-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.heart i {
    color:#716094;
    font-size: 20px;
}

.delete_update {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-align: center;
}