{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myMovieReviews</title>
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
</head>
<body>
  <header class="header">
    <h1 class="title">myMovieReviews</h1>
    <a href="/review/create" class="add-new_review">Add New Review</a>
  </header>

  <!-- 각 영화들의 개요 -->
  <section class="movie-grid">
    {% for review in reviews %}
    <div>
      <a href="/review/{{review.id}}" class="movie-title">{{review.title}}</a>
      <img src="" alt="">
      <div>
        <h3 class="movie-release_year">개봉년도 {{review.release_year}}</h3>
        <h3 class="movie-genre">장르 {{review.genre}}</h3>
        <h3 class="movie-score">별점 {{review.score}}</h3>
      </div>
    </div>
    {% endfor %}
  </section>
</body>

</html>

