{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myMovieReviews</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
</head>
<body>
    <header class="header">
    <a href="/review">
      <h1 class="title">myMovieReviews</h1>
    </a>
    <a href="/review/create" class="add-new_review">Add New Review</a>
  </header>
  <!-- 특정 영화 하나의 디테일 페이지 -->
    <div id="review-detail">
        <h2>{{review.title}}</h2>
        <div class="review-top_box">
            <p>개봉년도 {{review.release_year}}</p>
            <p>감독 {{review.director}}</p>
            <p>주연 {{review.main_actor}}</p>
            <p>장르 {{review.genre}}</p>
            <p>별점 {{review.score}}</p>
            <p>러닝타임 {{review.running_time}}</p>
        </div>
        <div class="review-bottom_box">
            <p>{{review.content}}</p>
    </div>
</body>

</html>

