{% extends 'base.html' %}
{% load static %}

{%block head%}
  <title>My SW Idea Manage</title>
{%endblock%}

{%block content%}
  <div class="search-box">    
    <form action="/"> <!--GET 방식, form 내용들이 query string으로 들어옴-->
      <input class = 'form-control mx-2' type="input" name="search_txt" placeholder="검색어..." />
      <input class = 'btn btn-outline-success mx-2' type="submit" value="검색" />      
    </form>
  </div>
  <div class="content-wrapper">
    {% for devtool in devtools %}
      <div class="devtool-item">
          <div class="devtool-info">
            <a href="{% url 'devtool:detail' devtool.pk %}" class="devtool-name">{{devtool.name}}</a>
            <p class="devtool-type">{{devtool.type}}</p>
            <p class="devtool-content">{{devtool.content}}</p>
          </div>
      </div>
    {% endfor %}
  </div>
{%endblock%}
